@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --light-gray-color: #e1e3d9;
  --dark-gray-color: #333333;
  --green-color: #22584c;
  --light-blue-color: #c5d1d3;
  --orange-color: #ca8153;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--dark-gray-color);
  background-color: var(--gray-color);
  border: solid 10px var(--green-color);
}
@media screen and (max-width: 600px) {
  .app {
    border: solid 8px var(--green-color);
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.row-reverse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 80%;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }

  .double-column {
    flex: 2;
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--gray-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='236' height='236' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%2322584c' stroke-width='1' stroke-opacity='0.04'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
  /* background by SVGBackgrounds.com */
}

.page-two,
.page-three,
.page-four,
.page-eight,
.page-nine {
  justify-content: space-evenly;
}

p {
  margin-bottom: 1rem;
  color: var(--dark-gray-color);
}

.opening-blurb {
  line-height: 1.3;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Cormorant SC", serif;
  font-weight: bold;
  font-size: 4rem;
  color: var(--green-color);

  margin-bottom: 2rem;
}

@media only screen and (max-width: 500px) {
  header {
    font-size: 3rem;
  }

  input[type="text"] {
    width: 30%;
  }
}

@media only screen and (max-width: 360px) {
  header {
    font-size: 2rem;
  }
}

header > p {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: -10px;
  color: var(--green-color);
}

.salary-input {
  display: flex;
  justify-content: center;
  width: 100%;
  outline: none;
  margin-bottom: 2rem;
}

input[type="text"] {
  padding: 5px;
  border: 2px solid var(--light-gray-color);
  color: var(--dark-gray-color);
  width: 19%;
  height: 1rem;
  font-size: 0.8rem;
}

@media only screen and (max-width: 500px) {
  input[type="text"] {
    width: 30%;
  }
}

input[type="text"]:focus {
  border-color: var(--dark-gray-color);
  outline: none;
}

.submit {
  padding: 5px 15px;
  background: var(--light-gray-color);
  border: 0 none;
  cursor: pointer;
  color: var(--dark-gray-color);
  font-size: 0.8rem;
}

.submit:hover {
  box-shadow: inset 0px 0px 20px -10px rgba(0, 0, 0, 0.69);
}

.submit:focus {
  outline: none;
}

strong {
  font-weight: bold;
  color: var(--orange-color);
}

#bezos-svg {
  min-width: 475px;
  max-width: 600px;
}

@media only screen and (max-width: 500px) {
  #bezos-svg {
    min-width: 200px;
    max-width: 600px;
  }
}

h1,
h2,
h3 {
  margin: 1rem 0;
  line-height: 1.5;
}

header h1 {
  margin: auto;
  line-height: auto;
}

.page-two-image,
.page-three-image,
.page-four-image,
.page-eight-image {
  max-width: 250px;
}

.col-1-margin {
  margin: 2rem;
}

.uptick {
  font-weight: bold;
}

.scroll-message {
  font-family: "Cormotant";
  font-weight: bold;
  font-size: 1.2rem;
}

#globe {
  width: 450px;
  border-radius: 400px;
}

img {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.25));
}

button svg {
  -webkit-filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
}

.black {
  color: black;
}

h5 {
  font-size: 0.75rem;
}

.globe-background {
  position: relative;
  z-index: 1;
}

.globe-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
  background: url(./svgs/globe.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

@media only screen and (max-width: 500px) {
  .globe-background::before {
    background-size: contain;
  }
}

.dotted {
  border-bottom: 1px dotted;
}

.footer {
  display: grid;
  grid-template-columns: [first] 35% auto [last] 35%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--green-color);
  color: white;
  text-align: center;
  padding: 0.6rem 0;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: orange;
}

.left,
.middle,
.right {
  margin: auto;
  text-align: center;
}

.share-buttons-wrapper button {
  margin: 0 0.25rem;
  transition: all 0.2s ease-in-out;
}

.share-buttons-wrapper button:hover {
  transform: scale(1.1);
}

blockquote.quote {
  position: relative;
  text-align: center;
  padding: 1.5rem 1.5rem;
  width: 80%; /* create space for the quotes */
  margin: 1rem auto 2rem;
}

blockquote.EN {
  background: linear-gradient(
        to right,
        var(--orange-color) 4px,
        transparent 4px
      )
      0 100%,
    linear-gradient(to left, var(--orange-color) 4px, transparent 4px) 100% 0,
    linear-gradient(to bottom, var(--orange-color) 4px, transparent 4px) 100% 0,
    linear-gradient(to top, var(--orange-color) 4px, transparent 4px) 0 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

blockquote.quote:before,
blockquote.quote:after {
  font-family: FontAwesome;
  position: absolute;
  color: var(--orange-color);
  font-size: 34px;
}

blockquote.EN:before {
  content: "\f10d";
  top: -12px;
  margin-right: -20px;
  right: 100%;
}
blockquote.EN:after {
  content: "\f10e";
  margin-left: -20px;
  left: 100%;
  top: auto;
  bottom: -20px;
}

cite {
  font-style: italic;
}

a {
  color: var(--green-color);
}

a:hover {
  color: var(--orange-color);
}
