@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --light-gray-color: #e1e3d9;
  --dark-gray-color: #484748;
  --green-color: #22584c;
  --light-blue-color: #c5d1d3;
  --orange-color: #ca8153;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--green-color);
  background-color: var(--gray-color);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-reverse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }

  .double-column {
    flex: 2;
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 85%;
  background-color: var(--gray-color);
}

.page-two {
  justify-content: space-evenly;
}

p {
  margin-bottom: 1rem;
  color: var(--dark-gray-color);
}

.opening-blurb {
  line-height: 1.3;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Cormorant SC", serif;
  font-weight: bold;
  font-size: 4rem;

  margin-bottom: 2rem;
}

header > p {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: -10px;
  color: var(--green-color);
}

.salary-input {
  display: flex;
  justify-content: center;
  width: 100%;
  outline: none;
}

input[type="text"] {
  direction: rtl;
  padding: 5px;
  border: 2px solid var(--light-gray-color);
  color: var(--dark-gray-color);
  width: 50%;
  height: 1rem;
  font-size: 0.8rem;
}
input[type="text"]:focus {
  border-color: var(--dark-gray-color);
  outline: none;
}

.submit {
  padding: 5px 15px;
  background: var(--light-gray-color);
  border: 0 none;
  cursor: pointer;
  color: var(--dark-gray-color);
  font-size: 0.8rem;
}

.submit:hover {
  box-shadow: inset 0px 0px 20px -10px rgba(0, 0, 0, 0.69);
}

.submit:focus {
  outline: none;
}

strong {
  font-weight: bold;
  color: var(--orange-color);
}

#bezos-svg {
  min-width: 475px;
  max-width: 600px;
}

h2,
h3 {
  margin: 1rem 0;
}

.page-two-image {
  max-width: 250px;
}

.col-1-margin {
  margin: 2rem;
}

.uptick {
  font-weight: bold;
}

.scroll-down {
  max-width: 50px;
}
